div {
    width: 100px;
    height: 100px;
    background:conic-gradient(from 90deg at 50% 50%, rgba(255, 255, 0, 1) 0%, rgba(19, 255, 0, 1) 5%, rgba(255, 255, 0, 1) 11%, rgba(19, 255, 0, 1) 19%, rgba(255, 255, 0, 1) 26%, rgba(19, 255, 0, 1) 30%, rgba(255, 255, 0, 1) 37%, rgba(19, 255, 0, 1) 43%, rgba(255, 255, 0, 1) 49%, rgba(19, 255, 0, 1) 56%, rgba(255, 255, 0, 1) 61%, rgba(19, 255, 0, 1) 67%, rgba(255, 255, 0, 1) 73%, rgba(19, 255, 0, 1) 78%, rgba(255, 255, 0, 1) 83%, rgba(19, 255, 0, 1) 89%, rgba(255, 255, 0, 1) 94%, rgba(19, 255, 0, 1) 95%, rgba(255, 255, 0, 1) 97%, rgba(19, 255, 0, 1) 98%, rgba(240, 255, 0, 1) 100%);

}